---
export interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<div
  class="text-grey sm:p-5 sm:text-[50px] sm:leading-[56px] md:mb-[45px] md:p-0 md:pt-[10px]
md:text-[90px] md:leading-[105px] lg:mb-[70px] lg:pt-[40px] lg:text-[90px]"
>
  {heading}
</div>
