---
import ContentSection from "./react/ContentSection";
import basketballMan from "~/assets/basketball-man.png";
import basketballManTablet from "~/assets/basketball-man--tablet.png";
import basketballManMobile from "~/assets/basketball-man--mobile.png";
import { Image } from "astro:assets";
import ContentSwiper from "./react/ContentSwiper";
import ContentHeading from "./content-heading.astro";
---

<section class="relative bg-white sm:z-[100] md:z-50">
  <div class="relative">
    <!--For mobile heading section-->
    <div class="relative z-[100] sm:block md:hidden break-words">
      <ContentHeading heading="PLAYERS" />
    </div>
    <div class="sm:hidden md:block">
      <ContentSection
        heading="PLAYERS"
        alignSide="left"
        order="01"
        title="CONNECTION"
      >
        Connect with talented athlete directly, you can watch their skills
        through video showreels directly from Surface 1.
      </ContentSection>
      <ContentSection
        backgroundClass="bg-[#F5F4F9]"
        alignSide="left"
        order="02"
        title="COLLABORATION"
      >
        Work with recruiter to increase your chances of findingtalented athlete.
      </ContentSection>
      <ContentSection
        backgroundClass="bg-[#090C35]"
        theme="darkPurple"
        alignSide="left"
        order="03"
        title="GROWTH"
      >
        <div class="text-white">
          Save your time, recruit proper athlets for your team.
        </div>
      </ContentSection>
    </div>
    <div
      class="z-20 sm:relative md:absolute md:right-0 md:top-[31px] lg:right-[125px] lg:top-[10px]"
    >
      <Image
        class="hidden h-full w-[991px] object-cover lg:block"
        src={basketballMan}
        width="991"
        height="815"
        loading="lazy"
        alt="basketball man"
      />
      <Image
        class="md:w-100 float-right h-full max-h-[568px] w-full object-cover sm:hidden md:block lg:hidden"
        src={basketballManTablet}
        width="691"
        height="568"
        loading="lazy"
        alt="basketball man tablet"
      />
      <Image
        class="w-100 mx-auto h-auto object-cover sm:block md:hidden"
        src={basketballManMobile}
        width="302"
        height="250"
        loading="lazy"
        alt="basketball man mobile"
      />
    </div>
    <div class="h-0 sm:block md:hidden">
      <ContentSwiper type="PLAYERS" client:load />
    </div>
  </div>
</section>
